body {
    font-family: Arial;
    background-color: #eaf4ff;
}

h1, h2 {
    color: blue;
}

table {
    width: 60%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: lightblue;
}

.emergency {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid red;
    background-color: #ffdede;
}

.emergency h3 {
    color: red;
}